<div>
	<div>
		<label id="category-label" class="ui-input-text" data-i18n="menu.form.category">Select Category...</label>
		<select id="categoryid" name="categoryid">
			<option id="X0PMoUgy4C" value="true" data-i18n="buttons.chemistry"></option>
			<option id="K37dNER6cU" value="false" data-i18n="buttons.maths"></option>
			<option id="Vc4w5eHTLm" value="true" data-i18n="buttons.physics"></option>
		</select>
	</div>
	<a id="training_btn" data-role="button" class="ui-button-bg all-width" data-i18n="buttons.training">Training</a>
	<a id="challenge_btn" data-role="button" class="ui-button-bg all-width" data-i18n="buttons.challenge">Challenge</a>
	<a id="statistics_btn" data-role="button" class="ui-button-bg all-width" data-i18n="buttons.statistics">Statistics</a>
	<a id="top10_btn" data-role="button" class="ui-button-bg all-width" data-i18n="buttons.top10">Top 10</a>
</div>