<div>
	<div>
		<label id="question-label" class="ui-input-text" data-i18n="<%= questionA %>">--QUESTION--</label>
	</div>
	<a id="answera_btn" data-role="button" class="ui-button-bg all-width" data-i18n="<%= answera %>">Answer A</a>
	<a id="answerb_btn" data-role="button" class="ui-button-bg all-width" data-i18n="<%= answerb %>">Answer B</a>
	<a id="answerc_btn" data-role="button" class="ui-button-bg all-width" data-i18n="<%= answerc %>">Answer C</a>
	<a id="answerd_btn" data-role="button" class="ui-button-bg all-width" data-i18n="<%= answerd %>">Answer D</a>
</div>