<div>
	<h2 class="title_task" data-i18n="top10.subtitle"></h2>
	<div class="resum-task-content ui-corner-all">
		<table data-role="table" class="ui-responsive table-stroke table-not-reflow">
			<thead>
				<tr>
					<th data-priority="persist" data-i18n="top10.table.rank"></th>
					<th data-priority="1" class= "center" data-i18n="top10.table.name"></th>
					<th data-priority="2" class= "center" data-i18n="top10.table.points"></th>
				</tr>
			</thead>	
			<tbody id="top10List" class="top10List"></tbody>
		</table>
	</div>
</div>
