@import "compass/reset";
@import "compass/typography/text";
@import "compass/css3";
@import "compass/utilities/general";

/*
* 1. COLORS
*/ 
$darkblue: #003C6E;
$turquesa: #62A6B4;
$waterblue: #64b4cd;
$blue: #009FE3;

$darkgray: #4C4C4C;
$gray: #A9AAA9;
$white-gray: #f9f9f9;
$graysoft: #eeeeee;
$softgray: #EEEEEE;
$middlegray: #bbb;
$disabledgray: #ddd;
$disableicon: #608b9b;

$red: #9F1923;
$magenta: #E23245;
$bordererror: #d5a9aa;
$backgrounderror: #ffcfcf;

$green: #C0DBA5;
$yellow: #F1F085;

$black: #000000;
$white: #FFFFFF;
$brokenwhite: #fefefe;

$orange: #DA5C08;
$greendark: #098B18; 
/*
* 2. MIDES
*/
$margin_bordes:.5em;
