.responsive-grid {
	.ui-select .ui-btn, div.ui-input-text, div.ui-checkbox {
		margin-right: 5%;
	}
	.btn-vertical-align {
		margin-top: 30px;
		margin-bottom: 0px;
	}
	&.ui-grid-a {
		.ui-block-a, .ui-block-b {
			width: 50%;
		}
	}
	&.ui-grid-b {
		.ui-block-a, .ui-block-b, .ui-block-c {
			width: 33.33333%;
		}
	}
	&.ui-grid-c{
		.ui-block-a, .ui-block-b, .ui-block-c, .ui-block-d{
			width: 25%;
		}
	}
}

.no-fotos-text {
	font-size: 1.2em;
	padding-top: 150px;
	width:70%;
}

.btn-icon{
	&.btn-header{
		width: 52px;
	}
	&.ui-btn-right-1 {
		right: 58px !important;
	}
	&.ui-btn-right-2 {
		right: 116px !important;
	}
	&.ui-btn-right-3 {
		right: 174px !important;
	}
	&.ui-btn-right-4 {
		right: 232px !important;
	}
	&.ui-btn-icon-notext .ui-btn-inner .ui-icon {
		margin-left: 20%;
		font-size: 25px;
	}
	&.btn-icon.ui-btn-right .ui-icon-camera {
		margin-left: 16% !important;
	}
}

/* HEADER */
.ui-header{
	.header-bar .ui-title {
		margin-left: 60px;
		margin-right: 250px;
	}
}

/* POPUPS */
.ui-popup {
	min-width: 500px;

	.popup-content {
		max-width: 450px;
	}
}
.error_popup{
	max-width: 450px;
}

.header-menu-list.ui-popup {
	min-width: 300px;
}

/* PANTALLES CONTESTA */

.title_task {
	.detail-right {
		float: right;
		text-align: right;
		width: 200px;
	}
	.detail-left {
		margin-right: 250px;
	}

}

/* RESUM TASQUES */

.resum-task-content {
	width: 50%;
}


/* PRL */
.task-plr{
	.ui-grid-c {
		.ui-block-a{
			width:50% !important;
			margin-bottom:0;
		}
		.ui-block-b, .ui-block-c {
			width: 25%;

			span{
				display: block;
			}
		}
	}
}

/* FORMS */

.select-small{
	width:50%;
}

/* avance */
.avance span {
	margin-right: 1em;
}