@charset "CP850";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
* 1. COLORS
*/
/*
* 2. MIDES
*/
/*
  The following declaration increase the size of the "dot" which contains the icon
  This is because some of the font awesome icons are larger than jQuery Mobile icons
  It applies to ALL occurrences, but can be commented out or d if necessary
*/
.ui-icon {
  width: 20px;
  height: 20px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  line-height: 20px;
  background-color: transparent;
  background-image: none;
}

.ui-icon-checkbox-on, .ui-icon-checkbox-off {
  width: 18px;
  height: 18px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.ui-icon:before {
  margin-left: 3px;
}

/* supporting original icons */
.ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
.ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
.ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
.ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after,
.ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on, .ui-icon-email, .ui-icon-page,
.ui-icon-question, .ui-icon-foursquare, .ui-icon-dollar, .ui-icon-euro,
.ui-icon-pound, .ui-icon-apple, .ui-icon-chat, .ui-icon-trash, .ui-icon-mappin, .ui-icon-direction,
.ui-icon-heart, .ui-icon-wrench, .ui-icon-play, .ui-icon-pause, .ui-icon-stop, .ui-icon-person, .ui-icon-music,
.ui-icon-wifi, .ui-icon-phone, .ui-icon-power,
.ui-icon-lightning, .ui-icon-drink, .ui-icon-android {
  background-image: url("../../images/icons-18-black-pack.png") !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
  .ui-icon-plus, .ui-icon-minus, .ui-icon-delete, .ui-icon-arrow-r,
  .ui-icon-arrow-l, .ui-icon-arrow-u, .ui-icon-arrow-d, .ui-icon-check,
  .ui-icon-gear, .ui-icon-refresh, .ui-icon-forward, .ui-icon-back,
  .ui-icon-grid, .ui-icon-star, .ui-icon-alert, .ui-icon-info, .ui-icon-home, .ui-icon-search, .ui-icon-searchfield:after,
  .ui-icon-checkbox-off, .ui-icon-checkbox-on, .ui-icon-radio-off, .ui-icon-radio-on, .ui-icon-email, .ui-icon-page,
  .ui-icon-question, .ui-icon-foursquare, .ui-icon-dollar, .ui-icon-euro,
  .ui-icon-pound, .ui-icon-apple, .ui-icon-chat, .ui-icon-trash, .ui-icon-mappin, .ui-icon-direction,
  .ui-icon-heart, .ui-icon-wrench, .ui-icon-play, .ui-icon-pause, .ui-icon-stop, .ui-icon-person, .ui-icon-music,
  .ui-icon-wifi, .ui-icon-phone, .ui-icon-power,
  .ui-icon-lightning, .ui-icon-drink, .ui-icon-android {
    background-image: url("../../images/icons-36-black-pack.png") !important;
    -moz-background-size: 774px 54px;
    -o-background-size: 774px 54px;
    -webkit-background-size: 774px 54px;
    background-size: 774px 54px;
  }

  .ui-icon-alt {
    background-image: url("../../images/icons-36-black-pack.png");
  }
}
/* first row */
.ui-icon-plus {
  background-position: 0px 1px !important;
}

.ui-icon-minus {
  background-position: -36px 1px !important;
}

.ui-icon-delete {
  background-position: -71px 1px !important;
}

.ui-icon-arrow-r {
  background-position: -107px 1px !important;
}

.ui-icon-arrow-l {
  background-position: -143px 1px !important;
}

.ui-icon-arrow-u {
  background-position: -179px 1px !important;
}

.ui-icon-arrow-d {
  background-position: -215px 1px !important;
}

.ui-icon-check {
  background-position: -251px 1px !important;
}

.ui-icon-gear {
  background-position: -287px 1px !important;
}

.ui-icon-refresh {
  background-position: -323px 1px !important;
}

.ui-icon-forward {
  background-position: -359px 1px !important;
}

.ui-icon-back {
  background-position: -396px -0 !important;
}

.ui-icon-grid {
  background-position: -431px 1px !important;
}

.ui-icon-star {
  background-position: -467px 1px !important;
}

.ui-icon-alert {
  background-position: -503px 1px !important;
}

.ui-icon-info {
  background-position: -539px 1px !important;
}

.ui-icon-home {
  background-position: -575px 1px !important;
}

.ui-icon-search, .ui-icon-searchfield:after {
  background-position: -611px 0px !important;
}

.ui-icon-checkbox-off {
  background-position: -681px 1px !important;
}

.ui-icon-checkbox-on {
  background-position: -647px 1px !important;
}

.ui-icon-radio-off {
  background-position: -752px 1px !important;
}

.ui-icon-radio-on {
  background-position: -717px 1px !important;
}

/* begin icon pack definitions */
/* second row */
.ui-icon-email {
  background-position: 1px -17px !important;
}

.ui-icon-page {
  background-position: -36px -17px !important;
}

.ui-icon-question {
  background-position: -71px -17px !important;
}

.ui-icon-foursquare {
  background-position: -107px -17px !important;
}

.ui-icon-dollar {
  background-position: -215px -17px !important;
}

.ui-icon-euro {
  background-position: -251px -17px !important;
}

.ui-icon-pound {
  background-position: -287px -17px !important;
}

.ui-icon-apple {
  background-position: -323px -17px !important;
}

.ui-icon-chat {
  background-position: -359px -17px !important;
}

.ui-icon-trash {
  background-position: -395px -17px !important;
}

.ui-icon-mappin {
  background-position: -467px -17px !important;
}

.ui-icon-direction {
  background-position: -503px -17px !important;
}

.ui-icon-heart {
  background-position: -539px -17px !important;
}

.ui-icon-wrench {
  background-position: -575px -17px !important;
}

.ui-icon-play {
  background-position: -611px -17px !important;
}

.ui-icon-pause {
  background-position: -647px -17px !important;
}

.ui-icon-stop {
  background-position: -683px -17px !important;
}

.ui-icon-person {
  background-position: -719px -17px !important;
}

.ui-icon-music {
  background-position: -755px -17px !important;
}

/* third row */
.ui-icon-wifi {
  background-position: -35px -34px !important;
}

.ui-icon-phone {
  background-position: -72px -36px !important;
}

.ui-icon-power {
  background-position: -107px -35px !important;
}

.ui-icon-lightning {
  background-position: -251px -35px !important;
}

.ui-icon-android {
  background-position: -323px -35px !important;
}

/* begin primary declarations */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../images/fontawesome/fontawesome-webfont.eot");
  src: url("../../images/fontawesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../images/fontawesome/fontawesome-webfont.woff") format("woff"), url("../../images/fontawesome/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

[class^="ui-icon-"]:before, [class*=" ui-icon-"]:before {
  font-family: FontAwesome !important;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
}

.ui-icon:not(.ui-icon-loading), .ui-icon-searchfield::after {
  color: #000;
  font-weight: normal;
  text-shadow: none;
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.ui-icon-cloud-download:before {
  content: "\f0ed";
  margin-left: 2px;
}

.ui-icon-cloud-upload:before {
  content: "\f0ee";
  margin-left: 2px;
}

.ui-icon-lightbulb:before {
  content: "\f0eb";
  margin-top: 1px;
  margin-left: 3px;
}

.ui-icon-exchange:before {
  content: "\f0ec";
}

.ui-icon-bell-alt:before {
  content: "\f0f3";
}

.ui-icon-file-alt:before {
  content: "\f0f6";
}

.ui-icon-beer:before {
  content: "\f0fc";
  margin-top: 1px;
  margin-left: 2px;
}

.ui-icon-coffee:before {
  content: "\f0f4";
  margin-left: 2px;
}

.ui-icon-food:before {
  content: "\f0f5";
  margin-top: 1px;
  margin-left: 4px;
}

.ui-icon-fighter-jet:before {
  content: "\f0fb";
  margin-top: 1px;
  margin-left: 2px;
}

.ui-icon-user-md:before {
  content: "\f0f0";
}

.ui-icon-stethoscope:before {
  content: "\f0f1";
  margin-top: 1px;
  margin-left: 4px;
}

.ui-icon-suitcase:before {
  content: "\f0f2";
  margin-left: 2px;
}

.ui-icon-building:before {
  content: "\f0f7";
}

.ui-icon-hospital:before {
  content: "\f0f8";
  margin-left: 4px;
}

.ui-icon-ambulance:before {
  content: "\f0f9";
  margin-top: 1px;
  margin-left: 1px;
}

.ui-icon-medkit:before {
  content: "\f0fa";
  margin-top: 0px;
  margin-left: 2px;
}

.ui-icon-h-sign:before {
  content: "\f0fd";
}

.ui-icon-plus-sign-alt:before {
  content: "\f0fe";
}

.ui-icon-spinner:before {
  content: "\f110";
}

.ui-icon-angle-left:before {
  content: "\f104";
}

.ui-icon-angle-right:before {
  content: "\f105";
}

.ui-icon-angle-up:before {
  content: "\f106";
}

.ui-icon-angle-down:before {
  content: "\f107";
}

.ui-icon-double-angle-left:before {
  content: "\f100";
}

.ui-icon-double-angle-right:before {
  content: "\f101";
  margin-left: 4px;
}

.ui-icon-double-angle-up:before {
  content: "\f102";
}

.ui-icon-double-angle-down:before {
  content: "\f103";
  margin-top: 1px;
}

.ui-icon-circle-blank:before {
  content: "\f10c";
}

.ui-icon-circle:before {
  content: "\f111";
}

.ui-icon-desktop:before {
  content: "\f108";
  margin-top: 1px;
  margin-left: 2px;
}

.ui-icon-laptop:before {
  content: "\f109";
  margin-top: 1px;
  margin-left: 2px;
}

.ui-icon-tablet:before {
  content: "\f10a";
  margin-top: 1px;
}

.ui-icon-mobile-phone:before {
  content: "\f10b";
}

.ui-icon-quote-left:before {
  content: "\f10d";
}

.ui-icon-quote-right:before {
  content: "\f10e";
}

.ui-icon-github-alt:before {
  content: "\f113";
}

.ui-icon-folder-close-alt:before {
  content: "\f114";
}

.ui-icon-folder-open-alt:before {
  content: "\f115";
}

.ui-icon-glass:before {
  content: "\f000";
  margin-top: 2px;
}

.ui-icon-music:before {
  content: "\f001";
  margin-left: 1px;
  margin-top: 2px;
}

.ui-icon-fasearch:before {
  content: "\f002";
}

.ui-icon-envelope:before {
  content: "\f003";
  margin-left: -1px;
  margin-left: 2px;
  margin-top: 1px;
}

.ui-icon-heart:before {
  content: "\f004";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-fastar:before {
  content: "\f005";
}

.ui-icon-star-empty:before {
  content: "\f006";
}

.ui-icon-user:before {
  content: "\f007";
  margin-left: 4px;
}

.ui-icon-film:before {
  content: "\f008";
  margin-left: 2px;
}

.ui-icon-th-large:before {
  content: "\f009";
  margin-left: 2px;
  margin-top: 2px;
}

.ui-icon-th:before {
  content: "\f00a";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-th-list:before {
  content: "\f00b";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-ok:before {
  content: "\f00c";
  margin-left: 2px;
}

.ui-icon-:before {
  content: "\f00d";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-zoom-in:before {
  content: "\f00e";
}

.ui-icon-zoom-out:before {
  content: "\f010";
}

.ui-icon-off:before {
  content: "\f011";
}

.ui-icon-signal:before {
  content: "\f012";
  margin-left: -1px;
}

.ui-icon-cog:before {
  content: "\f013";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-trash:before {
  content: "\f014";
}

.ui-icon-fahome:before {
  content: "\f015";
}

.ui-icon-file:before {
  content: "\f016";
}

.ui-icon-time:before {
  content: "\f017";
  margin-top: 2px;
}

.ui-icon-road:before {
  content: "\f018";
}

.ui-icon-download-alt:before {
  content: "\f019";
}

.ui-icon-download:before {
  content: "\f01a";
  margin-top: 2px;
}

.ui-icon-upload:before {
  content: "\f01b";
  margin-top: 2px;
}

.ui-icon-inbox:before {
  content: "\f01c";
}

.ui-icon-play-circle:before {
  content: "\f01d";
  margin-top: 2px;
}

.ui-icon-repeat:before {
  content: "\f01e";
  margin-top: 2px;
}

/* \f020 is not a valid unicode character. all shifted one down */
.ui-icon-farefresh:before {
  content: "\f021";
  margin-top: 2px;
}

.ui-icon-list-alt:before {
  content: "\f022";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-lock:before {
  content: "\f023";
}

.ui-icon-flag:before {
  content: "\f024";
  margin-top: 2px;
}

.ui-icon-headphones:before {
  content: "\f025";
}

.ui-icon-volume-off:before {
  content: "\f026";
}

.ui-icon-volume-down:before {
  content: "\f027";
}

.ui-icon-volume-up:before {
  content: "\f028";
}

.ui-icon-qrcode:before {
  content: "\f029";
}

.ui-icon-barcode:before {
  content: "\f02a";
}

.ui-icon-tag:before {
  content: "\f02b";
}

.ui-icon-tags:before {
  content: "\f02c";
}

.ui-icon-book:before {
  content: "\f02d";
}

.ui-icon-bookmark:before {
  content: "\f02e";
}

.ui-icon-print:before {
  content: "\f02f";
}

.ui-icon-camera:before {
  content: "\f030";
}

.ui-icon-font:before {
  content: "\f031";
  margin-left: 2px;
}

.ui-icon-bold:before {
  content: "\f032";
  margin-left: 2px;
}

.ui-icon-italic:before {
  content: "\f033";
}

.ui-icon-text-height:before {
  content: "\f034";
}

.ui-icon-text-width:before {
  content: "\f035";
}

.ui-icon-align-left:before {
  content: "\f036";
}

.ui-icon-align-center:before {
  content: "\f037";
}

.ui-icon-align-right:before {
  content: "\f038";
}

.ui-icon-align-justify:before {
  content: "\f039";
}

.ui-icon-list:before {
  content: "\f03a";
}

.ui-icon-indent-left:before {
  content: "\f03b";
  margin-left: 0px;
  margin-top: 2px;
}

.ui-icon-indent-right:before {
  content: "\f03c";
}

.ui-icon-facetime-video:before {
  content: "\f03d";
}

.ui-icon-picture:before {
  content: "\f03e";
}

.ui-icon-pencil:before {
  content: "\f040";
}

.ui-icon-map-marker:before {
  content: "\f041";
  margin-left: 3px;
  margin-top: 2px;
}

.ui-icon-adjust:before {
  content: "\f042";
  margin-top: 2px;
}

.ui-icon-tint:before {
  content: "\f043";
}

.ui-icon-edit:before {
  content: "\f044";
}

.ui-icon-share:before {
  content: "\f045";
}

.ui-icon-facheck:before {
  content: "\f046";
}

.ui-icon-move:before {
  content: "\f047";
}

.ui-icon-step-backward:before {
  content: "\f048";
}

.ui-icon-fast-backward:before {
  content: "\f049";
}

.ui-icon-backward:before {
  content: "\f04a";
}

.ui-icon-play:before {
  content: "\f04b";
  margin-left: 6px;
  margin-top: 2px;
}

.ui-icon-pause:before {
  content: "\f04c";
  margin-top: 2px;
}

.ui-icon-stop:before {
  content: "\f04d";
  margin-top: 2px;
}

.ui-icon-faforward:before {
  content: "\f04e";
}

.ui-icon-fast-forward:before {
  content: "\f050";
}

.ui-icon-step-forward:before {
  content: "\f051";
}

.ui-icon-eject:before {
  content: "\f052";
}

.ui-icon-chevron-left:before {
  content: "\f053";
  margin-top: 2px;
}

.ui-icon-chevron-right:before {
  content: "\f054";
  margin-top: 2px;
}

.ui-icon-plus-sign:before {
  content: "\f055";
  margin-top: 2px;
}

.ui-icon-minus-sign:before {
  content: "\f056";
  margin-top: 2px;
}

.ui-icon--sign:before {
  content: "\f057";
  margin-top: 2px;
}

.ui-icon-ok-sign:before {
  content: "\f058";
  margin-top: 2px;
}

.ui-icon-question-sign:before {
  content: "\f059";
  margin-top: 2px;
}

.ui-icon-info-sign:before {
  content: "\f05a";
  margin-top: 2px;
}

.ui-icon-screenshot:before {
  content: "\f05b";
}

.ui-icon--circle:before {
  content: "\f05c";
  margin-top: 2px;
}

.ui-icon-ok-circle:before {
  content: "\f05d";
  margin-top: 2px;
}

.ui-icon-ban-circle:before {
  content: "\f05e";
  margin-top: 2px;
}

.ui-icon-arrow-left:before {
  content: "\f060";
}

.ui-icon-arrow-right:before {
  content: "\f061";
}

.ui-icon-arrow-up:before {
  content: "\f062";
}

.ui-icon-arrow-down:before {
  content: "\f063";
}

.ui-icon-share-alt:before {
  content: "\f064";
}

.ui-icon-resize-full:before {
  content: "\f065";
}

.ui-icon-resize-small:before {
  content: "\f066";
}

.ui-icon-faplus:before {
  content: "\f067";
}

.ui-icon-faminus:before {
  content: "\f068";
}

.ui-icon-asterisk:before {
  content: "\f069";
  margin-top: 2px;
}

.ui-icon-exclamation-sign:before {
  content: "\f06a";
  margin-top: 2px;
}

.ui-icon-gift:before {
  content: "\f06b";
}

.ui-icon-leaf:before {
  content: "\f06c";
}

.ui-icon-fire:before {
  content: "\f06d";
}

.ui-icon-eye-open:before {
  content: "\f06e";
}

.ui-icon-eye-close:before {
  content: "\f070";
}

.ui-icon-warning-sign:before {
  content: "\f071";
}

.ui-icon-plane:before {
  content: "\f072";
}

.ui-icon-calendar:before {
  content: "\f073";
}

.ui-icon-random:before {
  content: "\f074";
}

.ui-icon-comment:before {
  content: "\f075";
  margin-top: 2px;
}

.ui-icon-magnet:before {
  content: "\f076";
  margin-top: 2px;
}

.ui-icon-chevron-up:before {
  content: "\f077";
}

.ui-icon-chevron-down:before {
  content: "\f078";
}

.ui-icon-retweet:before {
  content: "\f079";
}

.ui-icon-shopping-cart:before {
  content: "\f07a";
}

.ui-icon-folder-close:before {
  content: "\f07b";
}

.ui-icon-folder-open:before {
  content: "\f07c";
}

.ui-icon-resize-vertical:before {
  content: "\f07d";
}

.ui-icon-resize-horizontal:before {
  content: "\f07e";
}

.ui-icon-bar-chart:before {
  content: "\f080";
}

.ui-icon-twitter-sign:before {
  content: "\f081";
}

.ui-icon-facebook-sign:before {
  content: "\f082";
}

.ui-icon-camera-retro:before {
  content: "\f083";
}

.ui-icon-key:before {
  content: "\f084";
}

.ui-icon-cogs:before {
  content: "\f085";
}

.ui-icon-comments:before {
  content: "\f086";
}

.ui-icon-thumbs-up:before {
  content: "\f087";
}

.ui-icon-thumbs-down:before {
  content: "\f088";
}

.ui-icon-star-half:before {
  content: "\f089";
}

.ui-icon-heart-empty:before {
  content: "\f08a";
  margin-top: 2px;
}

.ui-icon-signout:before {
  content: "\f08b";
}

.ui-icon-linkedin-sign:before {
  content: "\f08c";
}

.ui-icon-pushpin:before {
  content: "\f08d";
}

.ui-icon-external-link:before {
  content: "\f08e";
}

.ui-icon-signin:before {
  content: "\f090";
}

.ui-icon-trophy:before {
  content: "\f091";
}

.ui-icon-github-sign:before {
  content: "\f092";
}

.ui-icon-upload-alt:before {
  content: "\f093";
}

.ui-icon-lemon:before {
  content: "\f094";
}

.ui-icon-phone:before {
  content: "\f095";
}

.ui-icon-check-empty:before {
  content: "\f096";
}

.ui-icon-bookmark-empty:before {
  content: "\f097";
}

.ui-icon-phone-sign:before {
  content: "\f098";
}

.ui-icon-twitter:before {
  content: "\f099";
}

.ui-icon-facebook:before {
  content: "\f09a";
}

.ui-icon-github:before {
  content: "\f09b";
  margin-top: 2px;
}

.ui-icon-unlock:before {
  content: "\f09c";
}

.ui-icon-unlock-alt:before {
  content: "\f13e";
}

.ui-icon-credit-card:before {
  content: "\f09d";
}

.ui-icon-rss:before {
  content: "\f09e";
}

.ui-icon-hdd:before {
  content: "\f0a0";
}

.ui-icon-bullhorn:before {
  content: "\f0a1";
}

.ui-icon-bell:before {
  content: "\f0a2";
}

.ui-icon-certificate:before {
  content: "\f0a3";
  margin-top: 2px;
}

.ui-icon-hand-right:before {
  content: "\f0a4";
}

.ui-icon-hand-left:before {
  content: "\f0a5";
}

.ui-icon-hand-up:before {
  content: "\f0a6";
}

.ui-icon-hand-down:before {
  content: "\f0a7";
}

.ui-icon-circle-arrow-left:before {
  content: "\f0a8";
  margin-top: 2px;
}

.ui-icon-circle-arrow-right:before {
  content: "\f0a9";
  margin-top: 2px;
}

.ui-icon-circle-arrow-up:before {
  content: "\f0aa";
  margin-top: 2px;
}

.ui-icon-circle-arrow-down:before {
  content: "\f0ab";
  margin-top: 2px;
}

.ui-icon-globe:before {
  content: "\f0ac";
  margin-top: 2px;
}

.ui-icon-wrench-font:before {
  content: "\f0ad";
}

.ui-icon-tasks:before {
  content: "\f0ae";
}

.ui-icon-filter:before {
  content: "\f0b0";
}

.ui-icon-briefcase:before {
  content: "\f0b1";
}

.ui-icon-fullscreen:before {
  content: "\f0b2";
}

.ui-icon-group:before {
  content: "\f0c0";
}

.ui-icon-link:before {
  content: "\f0c1";
}

.ui-icon-cloud:before {
  content: "\f0c2";
}

.ui-icon-beaker:before {
  content: "\f0c3";
}

.ui-icon-cut:before {
  content: "\f0c4";
}

.ui-icon-copy:before {
  content: "\f0c5";
}

.ui-icon-paper-clip:before {
  content: "\f0c6";
}

.ui-icon-save:before {
  content: "\f0c7";
}

.ui-icon-sign-blank:before {
  content: "\f0c8";
}

.ui-icon-reorder:before {
  content: "\f0c9";
}

.ui-icon-list-ul:before {
  content: "\f0ca";
}

.ui-icon-list-ol:before {
  content: "\f0cb";
}

.ui-icon-strikethrough:before {
  content: "\f0cc";
}

.ui-icon-underline:before {
  content: "\f0cd";
}

.ui-icon-table:before {
  content: "\f0ce";
}

.ui-icon-magic:before {
  content: "\f0d0";
}

.ui-icon-truck:before {
  content: "\f0d1";
}

.ui-icon-pinterest:before {
  content: "\f0d2";
  margin-top: 2px;
}

.ui-icon-pinterest-sign:before {
  content: "\f0d3";
  margin-top: 2px;
}

.ui-icon-google-plus-sign:before {
  content: "\f0d4";
}

.ui-icon-google-plus:before {
  content: "\f0d5";
}

.ui-icon-money:before {
  content: "\f0d6";
}

.ui-icon-caret-down:before {
  content: "\f0d7";
  margin-top: 2px;
}

.ui-icon-caret-up:before {
  content: "\f0d8";
}

.ui-icon-caret-left:before {
  content: "\f0d9";
  margin-top: 2px;
}

.ui-icon-caret-right:before {
  content: "\f0da";
  margin-top: 2px;
}

.ui-icon-columns:before {
  content: "\f0db";
}

.ui-icon-sort:before {
  content: "\f0dc";
  margin-top: 2px;
}

.ui-icon-sort-down:before {
  content: "\f0dd";
}

.ui-icon-sort-up:before {
  content: "\f0de";
}

.ui-icon-envelope-alt:before {
  content: "\f0e0";
}

.ui-icon-linkedin:before {
  content: "\f0e1";
}

.ui-icon-undo:before {
  content: "\f0e2";
  margin-top: 2px;
}

.ui-icon-legal:before {
  content: "\f0e3";
}

.ui-icon-dashboard:before {
  content: "\f0e4";
}

.ui-icon-comment-alt:before {
  content: "\f0e5";
}

.ui-icon-comments-alt:before {
  content: "\f0e6";
}

.ui-icon-bolt:before {
  content: "\f0e7";
}

.ui-icon-sitemap:before {
  content: "\f0e8";
}

.ui-icon-umbrella:before {
  content: "\f0e9";
}

.ui-icon-paste:before {
  content: "\f0ea";
}

.ui-icon-user-md:before {
  content: "\f200";
}

/* loading icon */
.ui-icon-loading {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  color: #000;
  background-color: transparent !important;
  font-size: 42px;
  height: 43px !important;
  line-height: 43px !important;
  width: 43px !important;
}

.ui-icon-loading:before {
  content: "\f110";
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }

  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg);
  }

  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(359deg);
  }
}

/*	GENERAL */
.ui-page {
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9f9f9 0%, #f9f9f9 10%, #eeeeee 10%, #eeeeee 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(10%, #f9f9f9), color-stop(10%, #eeeeee), color-stop(100%, #eeeeee));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f9f9f9 0%, #f9f9f9 10%, #eeeeee 10%, #eeeeee 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f9f9f9 0%, #f9f9f9 10%, #eeeeee 10%, #eeeeee 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #f9f9f9 0%, #f9f9f9 10%, #eeeeee 10%, #eeeeee 100%);
  /* IE10+ */
  background: linear-gradient(top, #f9f9f9 0%, #f9f9f9 10%, #eeeeee 10%, #eeeeee 100%);
  /* W3C */
}

.hide {
  display: none;
}

/*per treure el fons dels botons que només siguin icona*/
.btn-icon {
  background: none;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.btn-icon.ui-btn-left {
  border-right: 1px solid #a9aaa9;
  left: 0px !important;
}
.btn-icon.ui-btn-left.ui-btn-icon-notext .ui-btn-inner .ui-icon {
  margin-left: 20%;
  font-size: 25px;
}
.btn-icon.ui-btn-right {
  /*border-left: 1px solid $gray;*/
  right: 0px !important;
}
.btn-icon.ui-btn-right.ui-btn-icon-notext .ui-btn-inner .ui-icon {
  font-size: 25px;
  margin-top: 18% !important;
  margin-left: 20% !important;
}
.btn-icon.ui-btn-right .ui-icon-edit {
  line-height: 26px;
}
.btn-icon.ui-btn-right .ui-icon-camera {
  line-height: 25px;
  margin-left: 14% !important;
}
.btn-icon.ui-btn-right .ui-icon-save, .btn-icon.ui-btn-right .ui-icon-reorder {
  line-height: 24px;
}
.btn-icon.ui-btn-right .ui-icon-external-link {
  line-height: 28px;
}
.btn-icon.btn-header {
  top: 0px !important;
  height: 40px;
  width: 45px;
  margin: 3px 0;
  border-radius: 0;
}
.btn-icon.ui-btn-right-0 {
  right: 0px !important;
}
.btn-icon.ui-btn-right-1 {
  right: 52px !important;
}
.btn-icon.ui-btn-right-2 {
  right: 104px !important;
}
.btn-icon.ui-btn-right-3 {
  right: 156px !important;
}
.btn-icon.ui-btn-right-4 {
  right: 208px !important;
}
.btn-icon.ui-btn-icon-notext .ui-btn-inner .ui-icon {
  margin-top: 16%;
  margin-left: 25%;
  color: white;
  font-size: 20px;
}
.btn-icon.ui-btn-hover-f, .btn-icon.ui-btn-down-f {
  background-color: #003c6e;
}
.btn-icon .ui-btn-inner {
  border: none;
}

.ui-btn-inner .ui-icon {
  border-radius: 0 !important;
  box-shadow: 0 !important;
}
.ui-btn-inner .ui-icon.icon-red {
  color: #9f1923 !important;
}
.ui-btn-inner .ui-icon.icon-list-info {
  font-size: 1.1em;
  line-height: 15px;
}
.ui-btn-inner .ui-icon.icon-green {
  color: #098b18 !important;
}

.ui-checkbox .ui-icon {
  border-radius: 3px !important;
  -webkit-border-radius: 3px !important;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}

/* botons dins les llistes */
.btn-list {
  margin: 0;
  padding: 0;
  border-top: 0px;
}
.btn-list .ui-btn {
  box-shadow: none !important;
  background: none !important;
  border: none !important;
}

/* HEADER */
.ui-header {
  border: none !important;
}
.ui-header .header-bar .ui-title {
  text-align: left;
  margin-left: 52px;
  margin-right: 100px;
  margin-top: .4em;
  margin-bottom: .5em;
}
.ui-header .header-bar .ui-title .text-title-header {
  min-height: 16px;
}
.ui-header .header-bar .disabled {
  background: transparent;
}
.ui-header .header-bar .disabled .ui-icon {
  color: #608b9b !important;
}
.ui-header .header-bar .disabled .ui-icon.ui-icon-farefresh {
  width: 30px;
  height: 24px;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.ui-header .header-alert {
  border: 1px solid #f4c63f;
  background-color: #ffefaa;
  color: #222222;
  text-shadow: none;
  padding: 5px;
  font-size: 1em;
}
.ui-header .header-alert .ui-icon {
  display: block;
  float: left;
  margin-right: 5px;
  margin-top: -1px;
  font-size: 1em;
  line-height: 1.2em;
}

.header-bar {
  background: #64b4cd;
  border: 1px solid #64b4cd;
  padding: 0 !important;
}

/* MENU HEADER */
.container-menu .ui-btn-down-f .ui-icon {
  color: white;
}

/* LOGIN */
.box_dialog_login {
  margin: auto;
  width: 60%;
}

.app-version {
  text-align: center;
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

@media all and (max-width: 35em) {
  .box_dialog_login {
    width: 80%;
  }
}
.logo {
  margin: 20px auto 10px;
  background: url("../../images/playqa/play.png") no-repeat center center;
  height: 113px;
  width: 113px;
}
.winner {
  margin: 20px auto 10px;
  background: url("../../images/playqa/winner.jpg") no-repeat center center;
  height: 323px;
  width: 400px;
}
.loser {
  margin: 20px auto 10px;
  background: url("../../images/playqa/loser.jpg") no-repeat center center;
  height: 432px;
  width: 285px;
}

#submit_login_btn {
  margin-top: 30px;
}

/* POPUP MENU */
.header-menu-list {
  min-width: 14em;
}
.header-menu-list .ui-btn-text, .header-menu-list .ui-icon {
  font-size: 22px;
}
.header-menu-list .disabled {
  background: #bbbbbb;
}
.header-menu-list .disabled a {
  color: black !important;
}

.ui-overlay-popup {
  background: rgba(0, 0, 0, 0.3);
}

.dw-persp {
  z-index: 1200 !important;
}

#contMenuDiv {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
}
#contMenuDiv ul {
  position: absolute;
  right: 0;
  top: 70px;
}

/* CANVI CONTRASENYA */
.margin-top-btn {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* CONFIGUACION */
.box_dialog_config {
  margin: auto;
  width: 60%;
}

@media all and (max-width: 35em) {
  .box_dialog_config {
    width: 80%;
  }
}
/* FORMS */
form {
  margin: 0.5em;
}
form.back_trans {
  background: transparent;
}
form .label-right {
  margin-left: 0.5em;
}
form .info-form {
  clear: left;
  display: block;
  margin-bottom: 2em;
  margin-top: 0.75em;
  padding: 0.6em;
  background: #dddddd;
  border-radius: 8px;
  border: 1px solid #a9aaa9;
  line-height: 120%;
  word-break: break-all;
}
form label.ui-input-text, form label.ui-slider {
  font-weight: bold;
  margin: 20px 0 0 0;
}
form .ui-field-contain {
  margin-top: 10px;
}
form .ui-field-contain .ui-input-text {
  display: inline-block !important;
}
form .ui-input-small .ui-input-text {
  width: 40%;
}
form input.input-error, form textarea.input-error, form div.input-error {
  border: 1px solid #9f1923 !important;
  background: #ffcfcf;
}
form textarea.ui-input-text {
  height: 6em;
  border: 1px solid #a9aaa9;
}
form div.ui-input-text {
  border: 1px solid #a9aaa9;
}
form div.ui-disabled {
  opacity: 1;
  background: #dddddd;
}

#form-config {
  margin-top: 3em;
}

.form-login label {
  margin: 0 0 .3em;
}

.error_message {
  color: #e23245;
  font-size: 0.95em;
}
.error_message:before {
  font-family: 'FontAwesome';
  content: "\f06a";
  /*icona exclamació*/
  margin-right: 0.5em;
}

.error_popup {
  line-height: 120%;
  max-width: 45em;
}

.hide-message {
  display: none;
}

.error-margins {
  margin: 0 0 1em 1.2em;
}

/* Per tots els llistats - els lbl-value pre-wrap */
ul.ui-listview span {
  white-space: normal;
}

ul.ui-listview li.ui-li span.lbl-value {
  white-space: pre-wrap;
}

/* LLISTAT TASQUES */
/* Llistat tasques i detalls junt*/
.list-tareas-container ul.ui-listview li.ui-li h2.ui-li-heading,
.list-tareas-container ul.ui-listview li.ui-li span.lbl-value {
  white-space: pre-wrap;
}
.list-tareas-container ul.ui-listview li.ui-li.ui-btn-active .ui-icon {
  color: white;
}

.content-list {
  float: left;
  width: 40% !important;
  /*overflow:auto;*/
  /* This will add a scroll when required */
  -webkit-box-shadow: #a9aaa9 0px 0px 15px;
  -moz-box-shadow: #a9aaa9 0px 0px 15px;
  box-shadow: #a9aaa9 0px 0px 15px;
}
.content-list .ui-navbar {
  margin-right: -10px;
}
.content-list .ui-navbar .ui-grid-a > :nth-child(n) {
  margin-right: 0.0em !important;
}

#navbar li {
  width: 50% !important;
}

.content-details {
  display: block !important;
  margin: auto;
  width: 92%;
  padding-bottom: 20px;
}

.empty-list {
  padding: 2em !important;
  text-align: center;
}

/* fi llistat i detalls junt */
.tabs-fixed {
  left: 0px;
  /*position: fixed;*/
  top: 86px;
  width: 100%;
  /*z-index:2;*/
}

.ui-grid-a .group-icons {
  float: left;
  width: 1.3em;
  margin-right: 0.3em;
}
.ui-grid-a .group-icons span.ui-icon {
  clear: both;
  float: left;
}

.ui-grid-a .list-text-group-icon {
  width: 90%;
}
.ui-grid-a .list-text-group-icon h2 {
  font-size: 1.2em;
  line-height: 21px;
}
.ui-grid-a .list-text-group-icon .desc span {
  font-size: 1em;
}

.desc {
  font-size: 14px;
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold !important;
}

.text {
  font-weight: normal;
}

.clear {
  display: block;
  clear: both;
}

.white-space {
  white-space: normal;
}

/* DETALLES */
.detalles {
  margin-top: 10px;
  font-size: 1em;
}
.detalles li {
  margin-bottom: 10px;
}
.detalles .title {
  margin-right: 10px;
}

.det-lecturas span {
  display: block;
  clear: both;
  margin-bottom: 10px;
}

.num-serial {
  margin: 10px 0 20px 10px;
  display: block;
}
.num-serial .title {
  margin-right: 10px;
}

.detalle-list-info {
  display: block;
  clear: both;
  margin-bottom: 10px;
}
.detalle-list-info .title {
  display: block;
  float: left;
  margin-bottom: 5px;
}

#meetingList li {
  margin-bottom: 1em;
}

.cita-info {
  margin-top: 0.5em;
}

.ui-collapsible-content {
  border: 1px solid #a9aaa9;
  background: #fefefe;
  border-top: 0;
}

.ui-collapsible-heading-toggle.ui-btn-down-f {
  border: 1px solid #a9aaa9 !important;
  /*background: #a9aaa9 {f-bup-background-color}!important;*/
  font-weight: bold;
  color: black !important;
  text-shadow: 0 1px 0 white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#eeeeee, #cccccc);
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(#eeeeee, #cccccc);
  /* FF3.6 */
  background-image: -ms-linear-gradient(#eeeeee, #cccccc);
  /* IE10 */
  background-image: -o-linear-gradient(#eeeeee, #cccccc);
  /* Opera 11.10+ */
  background-image: linear-gradient(#eeeeee, #cccccc);
}

/* CONTESTA POPUP */
.contesta-popup {
  padding: 0.5em;
}
.contesta-popup .contesta-content {
  padding: 0.1em;
}
.contesta-popup .contesta-content .ui-btn-inner {
  font-size: 1.2em;
}
.contesta-popup h3 {
  margin: 0.5em 0.5em 1em 0.5em;
  font-size: 18px;
  margin-bottom: 1em;
}
.contesta-popup h3 .title {
  margin-right: 0.5em;
}
.contesta-popup .ui-btn {
  margin-bottom: 1em;
}

/* CONFIRM POPUP */
.confirm-popup .ui-title, .choose-popup .ui-title {
  margin: 0 !important;
  padding: 0.7em 0;
}
.confirm-popup .popup-content, .choose-popup .popup-content {
  padding: 1em;
}
.confirm-popup .popup-content .popup-text, .choose-popup .popup-content .popup-text {
  padding: 0.5em;
  padding-bottom: 1em;
}

/* CHOOSE POPUP */
.choose-popup .popup-content {
  text-align: center;
  max-width: auto !important;
}

.table-not-reflow {
  display: table-row-group !important;
}
.table-not-reflow.ui-table-reflow.ui-responsive td, .table-not-reflow.ui-table-reflow.ui-responsive th {
  width: auto;
  float: none;
  clear: none;
  margin: 0;
  display: table-cell !important;
}
.table-not-reflow.ui-table-reflow.ui-responsive td .ui-table-cell-label, .table-not-reflow.ui-table-reflow.ui-responsive th .ui-table-cell-label {
  display: none;
}

/* MESSAGE BOX */
.message-box {
  width: 60%;
  margin: 2em auto 0;
}
.message-box .ui-li {
  background-color: #f1f085;
  background-image: none !important;
  padding: 1.5em;
}
.message-box .ui-li-message {
  font-weight: bold;
  font-size: 1em;
  padding-top: 10px;
  white-space: normal;
}
.message-box .ui-li-message:before {
  color: black;
  font-family: 'FontAwesome';
  content: "\f06a";
  /*icona exclamació*/
  margin-right: 0.5em;
}

/* LISTA LOGS */
.logsList .ui-grid-b .ui-block-a {
  width: 30%;
}
.logsList .ui-grid-b .ui-block-b {
  width: 50%;
}
.logsList .ui-grid-b .ui-block-c {
  width: 15%;
}

/* PANTALLES CONTESTA */
.responsive-grid .ui-select .ui-btn {
  margin: 5px 0;
}
.responsive-grid label.ui-input-text, .responsive-grid form label.ui-slider {
  margin: 0;
}
.responsive-grid div.ui-checkbox label.ui-btn {
  margin-right: 0;
  margin-left: 0;
}
.responsive-grid .error_message {
  width: 100%;
  margin-bottom: 1.5em;
}
.responsive-grid.ui-grid-a .ui-block-a, .responsive-grid.ui-grid-a .ui-block-b {
  width: 100%;
  margin-bottom: 1em;
}
.responsive-grid.ui-grid-b .ui-block-a, .responsive-grid.ui-grid-b .ui-block-b, .responsive-grid.ui-grid-b .ui-block-c {
  width: 100%;
  margin-bottom: 1em;
}
.responsive-grid.ui-grid-c .ui-block-a, .responsive-grid.ui-grid-c .ui-block-b, .responsive-grid.ui-grid-c .ui-block-c, .responsive-grid.ui-grid-c .ui-block-d {
  width: 100%;
  margin-bottom: 1em;
}

.required-label {
  color: #9f1923 !important;
  font-size: 10px;
  vertical-align: super;
  padding-left: 2px;
}

.title_task {
  color: #003c6e;
  margin: 1em;
  font-size: 1.2em;
  font-weight: bold;
}
.title_task .task-contesta-header {
  margin-bottom: 5px;
}
.title_task .ui-icon {
  font-size: 22px;
  margin-right: 8px;
  color: #003c6e;
}

.time {
  margin: 0 1em 1em 1em;
  font-size: 0.9em;
}
.time .time-init {
  margin-left: 0.5em;
}

.observaciones {
  margin: 2em 0;
}

.horas div.ui-input-text {
  margin: 0.5em;
}

.ui-li-divider {
  font-size: 1.1em;
}

.operators-list, .presence-list, .noProductive-list, .productive-list, .plr-list, #interval-list, #resource-list {
  display: none;
  margin-bottom: 1em !important;
  /*margin-top:1.5em !important;*/
}
.operators-list .operator .name, .operators-list .operator .text, .operators-list .presence .name, .operators-list .presence .text, .operators-list .noProductive-hour .name, .operators-list .noProductive-hour .text, .operators-list .productive-hour .name, .operators-list .productive-hour .text, .operators-list .plr-list .name, .operators-list .plr-list .text, .operators-list #interval-list .name, .operators-list #interval-list .text, .operators-list #resource-list .name, .operators-list #resource-list .text, .presence-list .operator .name, .presence-list .operator .text, .presence-list .presence .name, .presence-list .presence .text, .presence-list .noProductive-hour .name, .presence-list .noProductive-hour .text, .presence-list .productive-hour .name, .presence-list .productive-hour .text, .presence-list .plr-list .name, .presence-list .plr-list .text, .presence-list #interval-list .name, .presence-list #interval-list .text, .presence-list #resource-list .name, .presence-list #resource-list .text, .noProductive-list .operator .name, .noProductive-list .operator .text, .noProductive-list .presence .name, .noProductive-list .presence .text, .noProductive-list .noProductive-hour .name, .noProductive-list .noProductive-hour .text, .noProductive-list .productive-hour .name, .noProductive-list .productive-hour .text, .noProductive-list .plr-list .name, .noProductive-list .plr-list .text, .noProductive-list #interval-list .name, .noProductive-list #interval-list .text, .noProductive-list #resource-list .name, .noProductive-list #resource-list .text, .productive-list .operator .name, .productive-list .operator .text, .productive-list .presence .name, .productive-list .presence .text, .productive-list .noProductive-hour .name, .productive-list .noProductive-hour .text, .productive-list .productive-hour .name, .productive-list .productive-hour .text, .productive-list .plr-list .name, .productive-list .plr-list .text, .productive-list #interval-list .name, .productive-list #interval-list .text, .productive-list #resource-list .name, .productive-list #resource-list .text, .plr-list .operator .name, .plr-list .operator .text, .plr-list .presence .name, .plr-list .presence .text, .plr-list .noProductive-hour .name, .plr-list .noProductive-hour .text, .plr-list .productive-hour .name, .plr-list .productive-hour .text, .plr-list .plr-list .name, .plr-list .plr-list .text, .plr-list #interval-list .name, .plr-list #interval-list .text, .plr-list #resource-list .name, .plr-list #resource-list .text, #interval-list .operator .name, #interval-list .operator .text, #interval-list .presence .name, #interval-list .presence .text, #interval-list .noProductive-hour .name, #interval-list .noProductive-hour .text, #interval-list .productive-hour .name, #interval-list .productive-hour .text, #interval-list .plr-list .name, #interval-list .plr-list .text, #interval-list #interval-list .name, #interval-list #interval-list .text, #interval-list #resource-list .name, #interval-list #resource-list .text, #resource-list .operator .name, #resource-list .operator .text, #resource-list .presence .name, #resource-list .presence .text, #resource-list .noProductive-hour .name, #resource-list .noProductive-hour .text, #resource-list .productive-hour .name, #resource-list .productive-hour .text, #resource-list .plr-list .name, #resource-list .plr-list .text, #resource-list #interval-list .name, #resource-list #interval-list .text, #resource-list #resource-list .name, #resource-list #resource-list .text {
  font-weight: normal;
  margin-top: 0.3em;
  display: block;
}

.btn-crear a {
  margin: 0 0 0.5em 0 !important;
}

.list-buttons .ui-btn-inner {
  z-index: 1;
}
.list-buttons .ui-li-link-alt {
  z-index: 1 !important;
}

#meterUninstall-form .info-form {
  margin: 0.5em 5% 0.5em 0 !important;
}
#meterUninstall-form .ui-select {
  margin-top: 0.5em;
}

.errors, .error_container {
  margin: 1em;
  font-size: 0.9em;
  border: 1px solid #d5a9aa;
  background: #ffcfcf;
  padding: 1em;
  color: #9f1923;
  text-shadow: none;
}
.errors .ui-icon-exclamation-sign, .error_container .ui-icon-exclamation-sign {
  color: #9f1923;
  padding-right: 8px;
}
.errors .error-list, .error_container .error-list {
  margin-top: 5px;
}

.error_prl {
  margin-top: 0;
  margin-bottom: 0;
}

.errors-presence {
  margin-top: 0;
}

.action-marker {
  background-image: none !important;
  font-size: 20px;
  line-height: 10px;
  padding-left: 2px;
  color: #003c6e !important;
}

/* SWIPE i FOTOS*/
.background-images {
  background: #4c4c4c !important;
}

.no-fotos-text {
  font-size: 1.6em;
  line-height: 1.6em;
  color: white;
  width: 80%;
  margin: auto;
  padding-top: 200px;
  text-align: center;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap .foto {
  display: block;
}
.swipe-wrap > div {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-wrap .fecha {
  display: block;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  width: 100%;
}
.swipe-wrap .data {
  color: white;
  margin: auto;
}
.swipe-wrap .origin {
  color: #fefefe;
  font-size: 1.2em;
  margin: auto;
}
.swipe-wrap .img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
}

.swipe .bullets {
  padding: 0.5em 0;
  margin: auto;
  text-align: center;
  display: block;
}
.swipe .bullets .bullet {
  display: block;
  width: 20px;
  height: 20px;
  margin: 3px;
  background-color: white;
  display: inline-block;
  border-radius: 20px;
}
.swipe .bullets .bullet.on {
  background-color: #64b4cd;
}

/*
*	TIMESHEET - PARTES
*/
.list-timesheet {
  padding: 0.7em;
}

.title-timesheet {
  font-size: 1.05em;
}

.finalizado, .abierto {
  display: block;
  margin-top: 0.5em;
  font-size: 1.1em;
}

.finalizado {
  color: #098b18;
}
.finalizado:before {
  font-family: 'FontAwesome';
  content: "\f058";
  /*icona ok*/
  margin-right: 0.5em;
}

.abierto {
  color: #da5c08;
}
.abierto:before {
  font-family: 'FontAwesome';
  content: "\f040";
  /*icona llapis*/
  margin-right: 0.5em;
}

.delete-diet {
  margin-left: 0.5em;
}

.productive-hour .ui-li-desc {
  font-size: inherit !important;
  font-weight: inherit !important;
}
.productive-hour .account {
  margin-right: 0.7em;
}

.total {
  text-align: right;
  margin: 0.4em;
  font-weight: bold;
}

.total-resume {
  text-align: justify;
  margin: 0.8em 0;
  font-weight: bold;
}
.total-resume.total-horas {
  margin-top: 1em;
}

.task-plr .ui-grid-c .ui-block-a {
  width: 100% !important;
  margin-bottom: 0.5em;
}
.task-plr .ui-grid-c .ui-block-b, .task-plr .ui-grid-c .ui-block-c {
  width: 50%;
}
.task-plr .ui-grid-c .ui-block-b span, .task-plr .ui-grid-c .ui-block-c span {
  display: inline;
}

.crear-parte-container {
  margin-top: 2em;
  width: 70%;
}

/** edit popup **/
.big-popup .ui-header {
  padding: 0.2em 0;
}
.big-popup .content-popup {
  padding: 1.2em;
}
.big-popup .info-div {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  padding: .5em;
  margin-bottom: 1em;
  display: block;
}

.col_1, .col_2, .col_3 {
  float: left;
  width: 33%;
}
.col_1 .ui-input-text, .col_2 .ui-input-text, .col_3 .ui-input-text {
  width: 80%;
}

#popup-list-interval {
  margin: 2em 0;
}

#popup-form-resource {
  margin-top: 1.5em;
}

fieldset.confined {
  margin-top: 1.5em !important;
  display: inline-block !important;
}

.line-hr {
  padding-bottom: 1em;
  border-bottom: 1px solid #bbbbbb;
}

.resume-block {
  margin-top: 1.5em;
}

.valor-resum {
  margin-left: 1em;
}

.resum-observation {
  margin: 1em 0;
  display: block;
  background: #eeeeee;
  padding: 0.3em;
  min-height: 2em;
}

/** Resum Tasques **/
.resum-task-content {
  margin: 30px auto;
  border: 1px solid #000;
  width: 85%;
  background: #fff;
  padding: 15px;
}
.resum-task-content table {
  width: 100%;
  margin: auto;
  display: table !important;
}
.resum-task-content table td {
  width: 25% !important;
}
.resum-task-content table .first-el {
  width: 50% !important;
}
.resum-task-content table .center {
  text-align: center;
}

/** Page popup **/
.page-popup {
  margin: 0.5em;
  padding: 0.5em;
  border: 1px solid #A9AAA9;
  background: white;
}
.page-popup .info-div {
  margin: 1em 0.5em;
}
.page-popup .popup-title {
  padding: 0.65em 0.5em;
  font-weight: bold;
  font-size: 18px;
  text-shadow: none;
  color: white;
  margin: -8px -8px 0 -8px;
  border-radius: 5px 5px 0 0;
}

/** Avance - Progress **/
.avance span {
  margin-right: 0.5em;
}

#progress-form .info-form {
  margin-right: 5%;
  margin-bottom: 0;
  margin-top: 0.5em;
}
